unsloth
transformers
datasets
peft
accelerate
evaluate
scikit-learn
numpy
scipy
pandas
jsonlines
tqdm
matplotlib
seaborn
wandb
tensorboard
pyyaml
safetensors
tokenizers
protobuf
spacy
nltk
sentencepiece
sentence-transformers
sacrebleu
charset_normalizer
blis==1.2.0
typing-extensions==4.12.2
triton==3.2.0
torch==2.6.0